#channelNameDisplay{
 color:rgba(0, 182, 0,.9);
 background-color: rgba(100, 98, 98, 0.7);
 padding: 3px 5px 3px 5px;
 font-family: OCR A Std, monospace;
 position: fixed;
 top:30px;
 left:80px;
 animation: glitch 66ms ease infinite,pulse ease 200ms  infinite;
}

#chList{
    list-style-type:none;
    border: 2px solid rgba(34, 33, 33, 0.7);
    color:rgba(0, 182, 0,.9);
    background-color: rgb(32, 32, 32);
    padding: 3px 5px 3px 5px;
    font-family: OCR A Std, monospace;
    position: fixed;
    top:30px;
    left:80px;
    /*animation: glitch 66ms ease infinite,pulse ease 200ms  infinite;*/
   }

@keyframes glitch {
    from{
       
        filter: blur(1px);
        transform: scale(1, 0.6);
        transform: translate(1px, 0%);
    }
    to {
     
        filter: blur(0px);
        transform: scale(1, 1);
        transform: translate(0px, 0%);
    
    }
    
}

